  <div class="jumbotron">
    <div class="container">
      <h1>Self-guided city walks.</h1> 
        <p class="lead">Self-guided tours for curious people. Explore cool, tasty, smart and strange parts of a city.</p> 
          <p class="btn-group">
            <%= link_to 'View Tours', tours_path, :class => "btn btn-success btn-lg" %>
            <%= link_to 'Create Tour', new_tour_path, :class => "btn btn-default btn-lg" %>
          </p> 
    </div>
  </div>

  <div class="container">

    <div class="col-md-4">
      <div class="thumbnail">
      <img src="http://www.chilterntravel.com/wp-content/uploads/2013/04/Natural-History-Museum.jpg" alt="science">
        <h3>Science and the City</h3>
          <p>A science tour of London for all ages.</p>
          <p><a href="#" class="btn btn-default" role="button">View</a></p>
      </div>
      <!-- THUMBNAIL NEW -->
      <div class="thumbnail">
      <img src="http://cdn.pursuitist.com/wp-content/uploads/2014/09/Jimmy-Choo-To-Go-Public.jpg" alt="science">
        <h3>Shoes in Siam</h3>
          <p>A shoes shopping tour in Bangkok that takes you to six great stores.</p>
          <p><a href="#" class="btn btn-default" role="button">View</a></p>
      </div>
      <!-- THUMBNAIL NEW -->
      <div class="thumbnail">
      <img src="http://mysticpolitics.com/wp-content/uploads/2012/07/what-the-french-revolution-tells-us-about-todays-activist-movements-e1342168521376-638x360.jpg" alt="science">
        <h3>French Revolution Walk in Paris</h3>
          <p>Have a dozen significant sites can be found within these four blocks of central Paris.</p>
          <p><a href="#" class="btn btn-default" role="button">View</a></p>
      </div>

    </div>
    <div class="col-md-4">
      <div class="thumbnail">
      <img src="http://www.b-sidebywale.com/blogwp/wp-content/uploads/2011/08/IMG_0551.jpg" alt="science">
        <h3>Shoreditch Street Art</h3>
          <p>Every day new art pops up in Shoreditch.</p>
          <p><a href="#" class="btn btn-default" role="button">View</a></p>
      </div>
      <!-- THUMBNAIL NEW -->
      <div class="thumbnail">
      <img src="http://www.gtpass.com/Content/Images/uploaded/chicago-architecture-cr-river-_10933060.jpg" alt="science">
        <h3>Architecture Tour of Chicago Skyscrapers</h3>
          <p>See the best big buildings in one of America's biggest cities in this self-guided adventure.</p>
          <p><a href="#" class="btn btn-default" role="button">View</a></p>
      </div>


    </div>
    <div class="col-md-4">
      <div class="thumbnail">
      <img src="https://c1.staticflickr.com/9/8099/8656991764_e3301d546d_b.jpg" alt="science">
        <h3>Tokyo Noodles, Meat & Beer</h3>
          <p>Ebisu is a great neighbourhood in Tokyo to eat like a local.</p>
          <p><a href="#" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>


  </div>

