<div class="container">

  <% @tours.each do |tour| %>
      <%= image_tag(tour.tour_title_image, width: 200) %>
      <h3><%= link_to tour.tour_title, tour_path(tour) %></h3>
      <p><%= link_to('EDIT', edit_tour_path(tour.id)) %></p>
      <p><%= link_to('DELETE', tour_path(tour.id), method: :delete) %></p>
  <% end %>
</div>
