
<div class="container">
  <h1><%= @user.name %></h1>
  <p><%= image_tag(@user.picture, width: 200) %>
  <p><%= @user.bio %></p>
  <p><%= link_to "Link to my site", @user.url, target: 'blank' %></p>
</div>